<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->
<mapper namespace="com.xy.modular.sys.dao.RoleMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->

	<resultMap type="com.xy.modular.sys.entity.Role" id="role">
		<result property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="modifyTime" column="modify_time" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="isValid" column="is_valid" />
		<result property="sort" column="sort" />
	</resultMap>
	<select id="findAll" resultMap="role">
		select
		*
		from
		sys_role
	</select>
	<select id="getRole" resultMap="role">
		select
		*
		from
		sys_role left join sys_user_role on sys_user_role.rid=sys_role.id where sys_user_role.uid=#{userId}
	</select>
</mapper>